h1{text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;}

h2{text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;}

p{text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;}



P{text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;}

button{text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
background-color: blue;
}



div{text-align: center;}

br{text-align: center;}

.img{text-align: center;}

button{cursor: alias;
font;}

hr{width:50%;}



